.wallet_total {
	font-size: 24px;
}

a.action {
	border-bottom: 1px dashed #2a6496;
	text-decoration: none;
}

a.action:hover {
	border-bottom: 1px dashed #2a6496;
	text-decoration: none;
}

.transaction_amount {
	text-align: right;
}

.transaction_time {
	font-size: 12px;
	width: 150px;
	overflow: hidden;
}

.transaction_time_date {
	float: left;
	width: 80px;
	overflow: hidden;
	font-weight: bold;
margin-bottom: 5px;
line-height: 1.1;
}

.transaction_time_time {
	float: left;
	width: 70px;
	overflow: hidden;
	font-weight: bold;
margin-bottom: 5px;
line-height: 1.1;
}